/* FOOTER */

footer{
  background-color:#1E556B;
  padding-top: 1em;
  padding-bottom: .2em;
  color: whitesmoke;
}

footer ul{
  display: flex;
  justify-content: center;
}

footer p {
  opacity: 0.5;
  text-align: center;
}
.socials{
  list-style-type: none;
}

.fab{
  font-size: 35px;
}

a {
  color: whitesmoke;
  text-decoration: none;
}
.fab:hover{
  cursor: pointer;
  color:rgb(64, 162, 201, 0.4);
}